<ion-header>
  <my-header title="Home" headerColor="primary" [menuEnable]="true"></my-header>
</ion-header>
<ion-content padding>

  <div class="row">
    <div class="col-md-12 col-xl-7" *ngIf="staffs.length">
      <div class="card review-project">
        <!-- <ion-fab top right>
          <button ion-fab mini>
            <ion-icon name="add"></ion-icon>
          </button>
          <ion-fab-list>
            <button ion-fab>
              <ion-icon name="logo-facebook"></ion-icon>
            </button>
            <button ion-fab>
              <ion-icon name="logo-twitter"></ion-icon>
            </button>
            <button ion-fab>
              <ion-icon name="logo-vimeo"></ion-icon>
            </button>
            <button ion-fab>
              <ion-icon name="logo-googleplus"></ion-icon>
            </button>
          </ion-fab-list>
        </ion-fab> -->
        <div class="card-header">
          <div class="card-header-left">
            <h5>Top Dealers of {{myFunctionProvider.settings.depot.name}}</h5>
          </div>
        </div>
        <div class="card-block p-t-0 p-b-0 w-100">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Status</th>
                  <th>Kilos</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let staff of staffs">
                  <tr>
                    <td>
                      <a href="#!" style="display: none">
                        <img class="img-rounded img-fluid" src="assets/images/bc5.jpg" width="50">
                      </a>
                      <div class="project-contain">
                        <h6>{{staff.name}}</h6>
                        <p class="text-muted">
                          <i class="icofont icofont-clock-time f-12 m-r-10"></i>{{(staff.last_updated) ? staff.last_updated_formatted : "Not yet updated"}}</p>
                      </div>
                    </td>
                    <td>
                      <span *ngIf="staff.last_sold >= staff.mySold" style="color:red">{{myFunctionProvider.getPercentageChange(staff.last_sold, staff.mySold)}}%</span>
                      <span *ngIf="staff.last_sold < staff.mySold" style="color:green">{{myFunctionProvider.getPercentageChange(staff.last_sold, staff.mySold) * (-1)}}%</span>
                    </td>
                    <td>
                      {{staff.mySold}}
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
</ion-content>
