// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

h1, h2, h3, h4, h5, h6 {
    margin-top: 0px !important
}

.numKilos{
  font-size: large;
  font-weight: bolder;
  color: map-get($colors, primary)
}

.unitName{
  font-size: 1rem !important;
  font-style: italic
}

.rightItem{
  text-align: right;
  border: 1px solid map-get($colors, primary);
  padding: 4px;
  border-radius: 5px;
  background-color: #f3efe9;
}

.fl{ float: left;}

.fr{float: right;}

.menu-inner {
    width: 270px !important
}

.main-menu{
    background-color: map-get($colors, bg) !important
}

.content-md{
  background-color: map-get($colors, primary) !important
}

ion-card-header.card-header{
  padding: 16px !important;
  text-align: center !important;
    background: map-get($colors, secondary) !important;
    color: #222 !important;
    font-weight: bolder !important;
}

ion-label.label-md{
  padding: 0px !important
}

.card-md {
  border-radius: 10px
}

.btn-amber {
    background-color: map-get($colors, primary);
    border-color: map-get($colors, primary);;
    color: #fff;
    cursor: pointer;
    transition: all .3s ease-in;
}

.spinner-message {
    right: 125%;
    width: 15em;
    position: relative;
    text-align: center;
    color: #513631
}

.swal2-modal .swal2-content{
  font-size: 14px;
  font-family: "Open Sans,sans-serif"
}

.swal2-modal .swal2-file:focus, .swal2-modal .swal2-input:focus, .swal2-modal .swal2-textarea:focus {
  outline: 0;
  border: 1px solid map-get($colors, primary);;
  -webkit-box-shadow: 0 0 3px #e4ae42;
  box-shadow: 0 0 3px #e4ae42;
}

.photo-buttons {
  position: relative;
  top: 10px;
  right: 10px;
  height: 0px;
  text-align: right;
  opacity: .3;
}

.my-success .toast-container {
  background-color: #93be52
}

.itemDivider:not(:last-child){border-bottom: 1px solid map-get($colors, primary)}

formio{
  padding: 1em
}

.formio-component-file .fileSelector{
  padding: 5px
}

.formio-component-file .fileSelector button {
  margin: 2px
}

.help-block{
  font-size: x-small;
  color: grey;
}

//fixes bootstrap to ionic
.item-md .label{
    font-size: inherit !important;
    color: #000 !important;
    font-weight: normal !important
}

.theme-loader {
    background-color: rgba(255, 255, 255, 1);
}

button:focus{
    outline: none !important
}

.mb5em {margin-bottom: 5em}

.myItems {border-bottom: 1px dashed map-get($colors, primary);}

fieldset.form-group{
  border: solid 1px map-get($colors, secondary) !important;
    padding: 0 10px 10px 10px;
    border-bottom: none;
    border-radius: 5px
}

fieldset.form-group legend {
  width: auto !important;
    border: none;
    font-size: 14px;
}

//datatable
.datatable-row-wrapper:not(:first-child){
  margin-top: 1em
}

//modal
/* ion-modal,
  .show-page {
    // transparent black background overlay
    background-color: rgba(0, 0, 0, 0) !important;
    padding: 50px !important;
  }
  .toolbar-background {
    color: red !important;
  }
  ion-modal.modal-wrapper {
    transform: translateY(30%) !important;
  }
  ion-page.modal {
    padding: 30px;
    background: rgba(0, 0, 0, 0.5);
  }
  .modal-backdrop-bg {
    background-color: #000;
    opacity: 0;
  }
  .active .modal-backdrop-bg {
    opacity: 0.5;
  }

ion-modal.inset-modal {
  // transparent black background overlay
  background-color: rgba(0, 0, 0, .5) !important;
  transition: opacity .25s ease-in-out;
  padding: 20vh 10vw;
} */

.round {
  border-radius: 10px;
}

.formio-component-selectboxes span {
  margin-left: 10px
}
